/* COLOR */

$color_background: rgb(204, 202, 202);
$color_main: rgb(81, 81, 197);
$color_secondary: rgb(149, 149, 228);
$color_bar: #fff;
$color_cancle: rgb(180, 25, 25);
$color_cancle_close: rgb(189, 73, 73);